<H3>Загадки: </H3>
<%= link_to 'в меню', controller: 'welcome' %>
<table align="center" border="1" cellpadding="1" cellspacing="1">
 <tbody>
 <tr>
 <td>
 <p>Аналог Википедии в Пернатске</p>
 </td>
 <td>Библио</td>
 </tr>
 <tr>
 <td>
 <p>Аналог Гугла в Пернатске</p>
 </td>
 <td>Пвиттер</td>
 </tr>
 <tr>
 <td>
 <p>Археологи копали-копали, на пару бустов накопали!</p>
 </td>
 <td>Черепки</td>
 </tr>
 <tr>
 <td>
 <p>Без кольца - так постоянство: на 12 мест торговое пространство</p>
 </td>
 <td>Торговая палатка</td>
 </tr>
 <tr>
 <td>
 <p>В грозу её использование довольно опасно...</p>
 </td>
 <td>Обзорная</td>
 </tr>
 <tr>
 <td>
 <p>Времени у него мало, а вот монет - целая гора!</p>
 </td>
 <td>Тащумба</td>
 </tr>
 <tr>
 <td>
 <p>В центре логотипа птица, не журавль и не синица.</p>
 </td>
 <td>Сова</td>
 </tr>
 <tr>
 <td>
 <p>Высоко сижу, далеко гляжу, листву разгоняю, тебе помогаю.</p>
 </td>
 <td>Обзорная</td>
 </tr>
 <tr>
 <td>
 <p>В это время птицы только и делают, что обсуждают события города...</p>
 </td>
 <td>Комендантский час</td>
 </tr>
 <tr>
 <td>
 <p>Где может приумножить свои шишки каждый пернатый?</p>
 </td>
 <td>Пирамида</td>
 </tr>
 <tr>
 <td>
 <p>Главный хранитель знаний Пернатска</p>
 </td>
 <td>Филиус</td>
 </tr>
 <tr>
 <td>
 <p>Говорят, ими можно открыть двери, которые казались заперты навечно</p>
 </td>
 <td>Павлиньи перья</td>
 </tr>
 <tr>
 <td>
 <p>Говорят, не повезёт, если крах её произойдёт...</p>
 </td>
 <td>Пирамида</td>
 </tr>
 <tr>
 <td>
 <p>Говорят, оно или он нечестен, а на деле...</p>
 </td>
 <td>Рандом</td>
 </tr>
 <tr>
 <td>
 <p>Группа птиц по интересам...</p>
 </td>
 <td>Стая</td>
 </tr>
 <tr>
 <td>
 <p>Два брата-хорька знают, где они находятся</p>
 </td>
 <td>Шишки</td>
 </tr>
 <tr>
 <td>
 <p>Для места сего птицам не важен кворум: хором сыпем предложения на...</p>
 </td>
 <td>Форум</td>
 </tr>
 <tr>
 <td>
 <p>Днями и ночами в этом месте слышны птичьи разговоры о том о сём</p>
 </td>
 <td>Пвиттер</td>
 </tr>
 <tr>
 <td>
 <p>Дорогое лакомство, за которое любая птичка готова заложить свои перья, пух и бессмертную пернатую душу.</p>
 </td>
 <td>Печеньки</td>
 </tr>
 <tr>
 <td>
 <p>Древний станок, который можно отыскать на городской свалке в разной степени исправности...</p>
 </td>
 <td>Ожерельня</td>
 </tr>
 <tr>
 <td>
 <p>Его нельзя купить, можно только получить.</p>
 </td>
 <td>Опыт</td>
 </tr>
 <tr>
 <td>
 <p>Если в защите награбленного не полный профан - под колокольчик активируй...</p>
 </td>
 <td>Капкан*</td>
 </tr>
 <tr>
 <td>Если долго мучиться, взять его получится!</td>
 <td>
 <p>Уровень</p>
 </td>
 </tr>
 <tr>
 <td>
 <p>Если ты нацелен найти шишку-другую, тебе пригодится</p>
 </td>
 <td>Снаряжение</td>
 </tr>
 <tr>
 <td>
 <p>Загадка смысл в себе таит, загадкой весть мудрец гласит...</p>
 </td>
 <td>Тастик</td>
 </tr>
 <tr>
 <td>
 <p>Залезь повыше, вытяни шею подальше, и ты разглядишь, где спрятался враг.</p>
 </td>
 <td>Обзорная</td>
 </tr>
 <tr>
 <td>
 <p>Запас прочности постепенно снижает, становится непригодным и пропадает</p>
 </td>
 <td>Уник</td>
 </tr>
 <tr>
 <td>
 <p>Здесь враз запас свой шишек ты удвоишь.</p>
 </td>
 <td>Весы-шка</td>
 </tr>
 <tr>
 <td>
 <p>Здесь каждый главный на своем участке. И видно сразу, кто во что горазд...</p>
 </td>
 <td>Статистика</td>
 </tr>
 <tr>
 <td>
 <p>Здесь посреди тотемный столб, к пещере ход и пвиттерлог.</p>
 </td>
 <td>Городская площадь</td>
 </tr>
 <tr>
 <td>
 <p>Здесь хитрые зайцы продают ненужные вещи за сущие копейки.</p>
 </td>
 <td>Барахолка</td>
 </tr>
 <tr>
 <td>
 <p>Из совы стать решила орлицею гордой? Выпей сей настойки бодрой!</p>
 </td>
 <td>Обращалка</td>
 </tr>
 <tr>
 <td>
 <p>Картинка красочная птичья пернатости лимит вмиг увеличит.</p>
 </td>
 <td>Аватарка</td>
 </tr>
 <tr>
 <td>
 <p>Катать шары - его призвание!</p>
 </td>
 <td>Фил</td>
 </tr>
 <tr>
 <td>
 <p>Коль мало его, в бою ты проиграешь. Нет трёх десятков &ndash; в разведку не слетаешь.</p>
 </td>
 <td>Здоровье</td>
 </tr>
 <tr>
 <td>
 <p>Коллекционер бабочек в Пернатске</p>
 </td>
 <td>Фил</td>
 </tr>
 <tr>
 <td>
 <p>Кто вовремя не убежал, тот соль из-под хвоста достал!</p>
 </td>
 <td>Поместье Ефремыча</td>
 </tr>
 <tr>
 <td>
 <p>Кто носит нам почту и посылки</p>
 </td>
 <td>Молния</td>
 </tr>
 <tr>
 <td>
 <p>Лишь час прошел, и ждешь гостей, готовь капкан и допинг пей.</p>
 </td>
 <td>Иммунитет</td>
 </tr>
 <tr>
 <td>
 <p>Любимая погода всех детективов!</p>
 </td>
 <td>Туман</td>
 </tr>
 <tr>
 <td>
 <p>Любимая фраза Фила как напутствие</p>
 </td>
 <td>Ведь так становятся бойцами</td>
 </tr>
 <tr>
 <td>
 <p>Маленькое, сдобное, квадратное, съедобное -<br />
 никому ведь не отдам и склюю тихонько сам!</p>
 </td>
 <td>Печеньки</td>
 </tr>
 <tr>
 <td>
 <p>Место, где можно обрести и потерять письмена</p>
 </td>
 <td>Ринг</td>
 </tr>
 <tr>
 <td>
 <p>Место, где можно себя увековечить или хотя бы попытаться</p>
 </td>
 <td>Соляная пещера</td>
 </tr>
 <tr>
 <td>
 <p>Модифицированное старое дерево, которое позволяет вытягивать шею</p>
 </td>
 <td>Обзорная</td>
 </tr>
 <tr>
 <td>
 <p>Награда, которую дают за найденные перья</p>
 </td>
 <td>Перьерист</td>
 </tr>
 <tr>
 <td>
 <p>Нападай, коль рискнешь и здоровья не жалко, ведь на то и есть...</p>
 </td>
 <td>Сражалка</td>
 </tr>
 <tr>
 <td>
 <p>Не из шишек, не из теста - в пещере этим птицам место...</p>
 </td>
 <td>Солевики</td>
 </tr>
 <tr>
 <td>
 <p>Неновое носить я не хочу, куплю товара по последней моде</p>
 </td>
 <td>Птичий базар</td>
 </tr>
 <tr>
 <td>
 <p>Непросто оделеть в сражалке железяку, поможет ожерелье...</p>
 </td>
 <td>Тапыч</td>
 </tr>
 <tr>
 <td>
 <p>Не хвост, не окраска, и даже не зоб, Эта часть птицы ведет ее в топ...</p>
 </td>
 <td>Яйца</td>
 </tr>
 <tr>
 <td>
 <p>Нужное-ненужное, важное-неважное, уйма разноцветного, выбрать может каждый</p>
 </td>
 <td>Барахолка</td>
 </tr>
 <tr>
 <td>
 <p>Он знает, что будет после дождичка в четверг.</p>
 </td>
 <td>Вопля</td>
 </tr>
 <tr>
 <td>
 <p>Он имеет зоркий глаз, крутой нрав и обрез с солью.</p>
 </td>
 <td>Ефремыч</td>
 </tr>
 <tr>
 <td>
 <p>Он конфликтов ликвидатор, днём и ночью мониторит... Кто он?</p>
 </td>
 <td>Модератор</td>
 </tr>
 <tr>
 <td>
 <p>Он ревностно охраняет несметные богатства за пятью печатями-замками.</p>
 </td>
 <td>Ефремыч</td>
 </tr>
 <tr>
 <td>
 <p>Он спит меньше, чем студент в сессию</p>
 </td>
 <td>Ефремыч</td>
 </tr>
 <tr>
 <td>
 <p>Она помогает укрываться от назойливых врагов</p>
 </td>
 <td>Листва</td>
 </tr>
 <tr>
 <td>Они не поддаются счёту...</td>
 <td>
 <p>Хорьки</p>
 </td>
 </tr>
 <tr>
 <td>
 <p>Они постоянно и непрестанно меняются, помогая или мешая пернатым</p>
 </td>
 <td>Погодные условия</td>
 </tr>
 <tr>
 <td>
 <p>Орден пернатых, честь, не нажива, и по заказу страдает вражина...&nbsp;</p>
 </td>
 <td>Ассасины</td>
 </tr>
 <tr>
 <td>
 <p>Персональное пернатого древо, позволяющее уникальной личностью стать смело!</p>
 </td>
 <td>Древо умелок</td>
 </tr>
 <tr>
 <td>Пили её, в лесу все гудели: отмечали, что свалка снова при деле</td>
 <td>
 <p>Шишковочка*</p>
 </td>
 </tr>
 <tr>
 <td>
 <p>Планируй действия свои - и будешь бонусом одарен!</p>
 </td>
 <td>Погода</td>
 </tr>
 <tr>
 <td>
 <p>Поговаривают, цветы - его слабость...</p>
 </td>
 <td>Фил</td>
 </tr>
 <tr>
 <td>
 <p>Пока его не наберешь, лвл не возьмёшь</p>
 </td>
 <td>Опыт</td>
 </tr>
 <tr>
 <td>
 <p>Поможет избежать нападения</p>
 </td>
 <td>Листва</td>
 </tr>
 <tr>
 <td>
 <p>После его прихода от вашего здоровья останется только пустое место...</p>
 </td>
 <td>Ассасин</td>
 </tr>
 <tr>
 <td>
 <p>Путь воина, философа, азарта и прочего.</p>
 </td>
 <td>Статистика</td>
 </tr>
 <tr>
 <td>
 <p>Раз печенька, два печенька, вот ты всем и обеспечен!</p>
 </td>
 <td>Темный переулок</td>
 </tr>
 <tr>
 <td>
 <p>Разоритель ограбил кого-то и рад, а коли отдал деньги, ты</p>
 </td>
 <td>Меценат</td>
 </tr>
 <tr>
 <td>
 <p>С адреналином здесь чаще везет, делай ставку и вперед!</p>
 </td>
 <td>Ринг</td>
 </tr>
 <tr>
 <td>
 <p>Самое важное для пернатого рейтинга.</p>
 </td>
 <td>Пернатость</td>
 </tr>
 <tr>
 <td>
 <p>Самые подозрительные птицы Пернатска...</p>
 </td>
 <td>Пеликаны</td>
 </tr>
 <tr>
 <td>
 <p>Самый известный футболист Пернатска</p>
 </td>
 <td>Дятлуис*</td>
 </tr>
 <tr>
 <td>
 <p>Самый мудрый житель города...</p>
 </td>
 <td>Филиус</td>
 </tr>
 <tr>
 <td>
 <p>Самый умный персонаж, сливки лопать он горазд</p>
 </td>
 <td>Мафропич</td>
 </tr>
 <tr>
 <td>
 <p>С завидной регулярностью подверженные нападениям пернатые покупают</p>
 </td>
 <td>Капкан</td>
 </tr>
 <tr>
 <td>
 <p>Сей мудрец есть боль и страх: глаз - один, грудь - в орденах!</p>
 </td>
 <td>Фил</td>
 </tr>
 <tr>
 <td>
 <p>Сей парадокс не объяснить: вроде ..., а кувалдой два раза попал.</p>
 </td>
 <td>Туман</td>
 </tr>
 <tr>
 <td>
 <p>Символизируя память о предках почтенных, преимуществ нам дарит ряд сокровенных.</p>
 </td>
 <td>Медальон предков</td>
 </tr>
 <tr>
 <td>
 <p>Сможешь ли ты вспомнить о делах далёких, о Безумном Филине? Каков же был ключ к богатству Северного Ветра?</p>
 </td>
 <td>Солнцестояние*</td>
 </tr>
 <tr>
 <td>
 <p>С ним ты сможешь давать люлей в два раза чаще...</p>
 </td>
 <td>Медальон предков</td>
 </tr>
 <tr>
 <td>
 <p>Собрались вместе совы, попугаи, еще орлы, и получилась?</p>
 </td>
 <td>Стая</td>
 </tr>
 <tr>
 <td>
 <p>Сокращает время в разведке и сражалке вдвое</p>
 </td>
 <td>Медальон предков</td>
 </tr>
 <tr>
 <td>
 <p>Сплел венок, собрав цветы, и ему понес дары.</p>
 </td>
 <td>Тотемный столб</td>
 </tr>
 <tr>
 <td>
 <p>Стайка мелких и шустрых птичек. Собирает нужные сведения о противнике</p>
 </td>
 <td>Лагерь партизан</td>
 </tr>
 <tr>
 <td>
 <p>Только настоящий разведчик сможет найти их в лесу.</p>
 </td>
 <td>Шишки</td>
 </tr>
 <tr>
 <td>
 <p>Только он утверждает, что у природы нет плохой погоды.</p>
 </td>
 <td>Вопля</td>
 </tr>
 <tr>
 <td>
 <p>То, что дает каждому пернатому уникальные способности.</p>
 </td>
 <td>Дерево умелок</td>
 </tr>
 <tr>
 <td>
 <p>Три раза в сутки, кто-то даже с ружьем - товарища этого мы &quot;стережем&quot;...</p>
 </td>
 <td>Ефремыч</td>
 </tr>
 <tr>
 <td>
 <p>Тут каждая птичка может вволю пощебетать о насущных и злободневных вещах</p>
 </td>
 <td>Пвиттер</td>
 </tr>
 <tr>
 <td>
 <p>Тут происходят самые важные и интересные события в городе.</p>
 </td>
 <td>Городская площадь</td>
 </tr>
 <tr>
 <td>
 <p>Украденная настойка Джа.</p>
 </td>
 <td>Допинг</td>
 </tr>
 <tr>
 <td>
 <p>У них самые прямые крылья в Пернатске...</p>
 </td>
 <td>Дятлы</td>
 </tr>
 <tr>
 <td>
 <p>Характеристик нужно каждой по немного,&nbsp; но самой важной .... слывет.</p>
 </td>
 <td>Интуиция</td>
 </tr>
 <tr>
 <td>
 <p>Хороша листва, но не в ...</p>
 </td>
 <td>Ветрено</td>
 </tr>
 <tr>
 <td>
 <p>Хоть незаконно, зато вкусно. Доставят быстро и искусно.</p>
 </td>
 <td>Контрабанда</td>
 </tr>
 <tr>
 <td>
 <p>Худший враг солевика - ... и прицел врага!</p>
 </td>
 <td>Кувалда</td>
 </tr>
 <tr>
 <td>
 <p>Цену задал, товар подготовил...</p>
 </td>
 <td>Барахолка</td>
 </tr>
 <tr>
 <td>
 <p>Чаще всего -20% здоровья можно получить за</p>
 </td>
 <td>Посещение развилки</td>
 </tr>
 <tr>
 <td>
 <p>Чего только не отправишь посылкой... А чего не отправить посылкой?</p>
 </td>
 <td>Павлинье перо</td>
 </tr>
 <tr>
 <td>
 <p>Чем больше их в ивент прибьешь, тем больше таймычей сгребешь</p>
 </td>
 <td>Жуки</td>
 </tr>
 <tr>
 <td>
 <p>Чем выше уровень её, тем больше шанс, что враг потеряется...</p>
 </td>
 <td>Листва</td>
 </tr>
 <tr>
 <td>
 <p>Чем ты круче, тем это больше...</p>
 </td>
 <td>Военное пособие</td>
 </tr>
 <tr>
 <td>
 <p>Эта вещица крайне ценится жителями города!</p>
 </td>
 <td>Медальон предков</td>
 </tr>
 <tr>
 <td>Эти птицы-невилицы - шпионажа царицы...</td>
 <td>
 <p>Синицы</p>
 </td>
 </tr>
 <tr>
 <td>
 <p>Эти сласти придумали люди, а любят их птицы</p>
 </td>
 <td>Печеньки</td>
 </tr>
 <tr>
 <td>
 <p>Это будет, как в кино, выбирай из трёх одно.</p>
 </td>
 <td>Развилка мрачного леса</td>
 </tr>
 <tr>
 <td>
 <p>Я гостей всегда дождусь, и приму, и улыбнусь</p>
 </td>
 <td>Капкан</td>
 </tr>
 </tbody>
</table>

<p style="text-align: center;"><strong><span style="font-size:14px;">Примечания:</span></strong></p>

<ul>
 <li align="center"><strong>Дятлуис:</strong> Футболист, участвовавший в матчах во время чемпионата. Прославился тем, что во время одного из матчей исчез вместе с мячом. Прочесть о нём можно на форуме в разделах Ярмарки Безумного Филина (&quot;Потерянный мяч&quot;) и приёмной (&quot;Футбол умер&quot;)</li>
 <li align="center"><strong>Капкан:</strong> в вариантах есть слово &quot;канкан&quot;, будьте внимательны.</li>
 <li align="center"><strong>Солнцестояние:</strong> Безумный Филин основал на форуме ярмарку, и &quot;Тринадцать серебряных шишек&quot; было одной из первых его историй.</li>
 <li align="center"><strong>Шишковочка:</strong> её иногда распивают в рассказах из новостей игры<span style="font-size:14px;">)</span></li>
</ul>

<div align="center">
<hr align="center" size="2" width="100%" /></div>

<p align="center"><strong><span style="font-size:14px;">Загадки с неизвестным\неправильным ответом:</span></strong></p>

<p align="center"><em>Вероятный ответ</em></p>

<table align="center" border="1" cellpadding="1" cellspacing="1" style="width: 500px;">
 <tbody>
 <tr>
 <td colspan="2">
 <p style="text-align: center;">Их ровно три, и каждая важна, но основная уж особо хороша</p>
 </td>
 </tr>
 <tr>
 <td style="text-align: center;">Характеристика</td>
 <td style="text-align: center;"><em>Экипировка</em></td>
 </tr>
 <tr>
 <td style="text-align: center;"><s>Статистика</s></td>
 <td style="text-align: center;"><s>Умелка</s></td>
 </tr>
 <tr>
 <td colspan="2" style="text-align: center;">
 <p>Пойду-ка месседж напишу. Пусть видят все, хоть и не разом.</p>
 </td>
 </tr>
 <tr>
 <td style="text-align: center;"><s>Тотемный столб</s></td>
 <td style="text-align: center;">Пвиттер</td>
 </tr>
 <tr>
 <td style="text-align: center;">Почта</td>
 <td style="text-align: center;"><em>Форум</em></td>
 </tr>
 </tbody>
</table>

<hr />
<p style="text-align: center;"><span style="font-size:14px;"><strong>В общалке забыли указать варианты ответов:</strong></span></p>

<ul>
 <li>&nbsp;</li>
</ul>

<hr />
<p style="text-align: center;"><strong><span style="font-size:14px;">Для тех, кто идет в лабиринты в первые разы:</span></strong></p>

<ul class="listing">
 <li><span class="l">Прочтение библио обязательно. </span></li>
 <li><span class="l">Перед лабиринтом убедитесь, что полоска здоровья заполнена хотя бы наполовину, лучше - полностью (особенно если скоро будет Ефремыч), а монеты слиты в кубышку или характеристики, т.к. в лабиринте этого сделать не получится.&nbsp;</span></li>
 <li><span class="l">Сколько потребуется времени для лабиринта - неизвестно, проигрыш в бою может быть сразу, а может быть лишь через пару часов. </span></li>
 <li><span class="l">Свобруч будет полезен с первой (!!!) попытки пробраться в лабиринт. </span></li>
 <li><span class="l">Ключи, снаряжение и свобруч покупаются перед входом лабиринт или чуть раньше в то время, пока вы ничем не заняты. В самом лабиринте их можно купить, но за тройную цену. </span></li>
 <li><span class="l">Желательно, чтобы всегда с собой было хотя бы по 1 ключу каждого вида (да, с первого полёта), а лучше - 3.</span></li>
 <li><span class="l">Обычные экипировка и ожерелья в лабиринте не действуют.&nbsp;</span></li>
 <li>Тем не менее, в логах виден слот с ожерельями. В лабиринте действуют всего 3 ожерелья - отрывыч, напузыч и подковыч. Остальные, даже если будут на вас в момент боя, не сработают. Зато они действуют на нападающих на вас птиц, а вот отрывыч и напузыч - нет.</li>
 <li>Поэтому в поясе для ожерелий можно в лабиринте указать боевое ожерелье для своей защиты.</li>
 <li><span class="l">Пить лечилки находясь в лабиринте не получится, только съесть баточник подорожника.</span></li>
<p><strong>В кладах можно найти:</strong> монеты, шишки, золотые шишки, перья, баллы умелок, пернатость, соль, наполнители, пуговки, редлики.</p>

<p>В лабиринте <strong>можно</strong>: играть в мини-игры, покупать лечилки, покупать\продавать вещи на барахолке.<br />
В лабиринте <strong>нельзя</strong>: пить лечилки, прокачивать характеристики, пользоваться кубышкой, вкладывать ресурсы в пирамиду.</p>

